@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Nunito&display=swap");

/* || RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", cursive;;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* || VARIABLES */
:root{
    /* FONTS */
    --FF: "Nunito", sans-serif;
    --FF-HEADINGS: "Roboto", cursive;

    /* COLOR */
    --FORM-HEADING-COLOR: #003479;
    --FORM-TEXT-COLOR: #003479;
    --BG-LIGHT-COLOR: #fff;
    --BG-DARK-COLOR: #003479;
    --TEXT-LIGHT-COLOR: #fff;
    --TEXT-DARK-COLOR: #000;
    --HEADING-DARK-COLOR: #2676ab;
    --BUTTON-BG-COLOR: aliceblue;

    /* FONT-SIZES */
    --FORM-LABEL-SIZE: 25px;
    --FORM-LABEL-SIZE-SMALLSCREEN: 20px;

    /* MARGINS & PADDINGS */
    --TEXT-GAP: 1rem;
    --CONTAINER-PADDING-TB: 3.5rem;
    --CONTAINER-PADDING-SIDES: 3.5rem;
    --CONTAINER-PADDING-SMALLSCREEN: 2.0rem;
}

/* || UTILITIES */
.darkShadeOnHero{
    background-color: hsla(0, 0%, 0%, 0.642);
}

.containerPaddingAllSides{
    padding: var(--CONTAINER-PADDING-SIDES);
}

.containerPaddingSides{
    padding: 0 var(--CONTAINER-PADDING-SIDES);
}

.source_reference{
    font-size: 9px;
}

.highlightTextOnDarkBG{
    color:rgb(255, 0, 21)
}

.centerText{
    text-align: center;
}

/* || LINKS, PARA, HEADINGS*/
a:any-link{
    text-decoration: none;
    color: var(--BG-DARK-COLOR);
}

a:hover{
    color: blue;
}

li{
    list-style: none;
}

h3, p{
    letter-spacing: 1px;
}

.containerHover:hover{
    background-color: hsla(0, 0%, 50%, 0.29);
}


/* || HEADER */
/* Hamburger Menu is not implemented yet*/
.header{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;

    background-color: var(--BG-LIGHT-COLOR);
    color: var(--BG-DARK-COLOR);
    /* border: 2px solid black; */
    padding: 1.5rem 3.5rem;
}

.header__logo{
    width: 25%;
}

.header__nav{
    width: 75%;
    display: flex;
    justify-content: flex-end;
}

.header__ul{
    display: flex;
    flex-flow: row wrap;
}

.header__ul li{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 0.8rem;
}

.header__logo img{
    width: 100%;
    height: auto;
}

/* || MAIN */
.main{
    display: flex;
    flex-flow: column nowrap;
}

.main__newsBanner{
    background-color: var(--BG-DARK-COLOR);
    color: #fff;
}

.main__newsBanner h3{
    text-align: center;
    font-size: 15.9572px;
    text-transform: uppercase;
    padding: 1rem 0;
}

.main__hero{
    background-color: antiquewhite;
    background-image: url(../views/img/driver_hero_1500x1000.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.main__hero_services{
    background-color: antiquewhite;
    background-image: url(../views/img/Service_heroPage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.examiner__hero{
    background-color: antiquewhite;
    background-image: url(../views/img/Examiner_hero_1920x1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.admin__hero{
    background-color: antiquewhite;
    background-image: url(../views/img/Admin_her0_1920x1272.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Index.html MAIN  */
.main__hero_info_container{
    padding: 3rem 1.2rem 1.2rem;
}   

.main__hero_info{
    padding: 3rem 1.2rem 1.2rem;
    color: white;
} 

.main__hero_info h3{
    font-size: 27px;
    margin-bottom: 1rem;
} 

.main__hero_info p{
    margin-bottom: 1rem;
}

.main__vehicles{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 3.5rem 3.5rem;
}

.main__vehicles__types{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 1rem;
}

.main__vehicles__types img{
    width: 55%;
    height: auto;
    padding-bottom: 1rem;
}

.main__vehicles__types h4{
    padding-bottom: 1rem;
}

/* Main body CONTENT styling */
.main__content{
    display: flex;
    flex-flow: column nowrap;

    padding: var(--CONTAINER-PADDING-TB) var(--CONTAINER-PADDING-SIDES);
}

.main__content_column{
    padding: var(--TEXT-GAP);
}

.main__content_column h3, h4{
    color: var(--HEADING-DARK-COLOR);
    padding-bottom: var(--TEXT-GAP);
}

.main__content_column h4{
    font-weight: 300;
}

.main__content_column p{
    padding-bottom: var(--TEXT-GAP);
    line-height: 1.6
}

.main__content_column_inner{
    display: flex;
    flex-flow: row nowrap; 
    justify-content: space-between;
}

.main__content_column_inner_img_div{
    width: 25%;
}

.main__content_column_inner_p{
    width: 70%;
}

.main__content_column_inner_img{
    width: 100%;
    height: auto;
}

/* Data listing for Examiner & Admin*/
.main__driversEvaluation{
    padding: var(--CONTAINER-PADDING-SIDES);
}

.main__driversEvaluation_examClass{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0 0 3.5rem 0;
}

.main__driversEvaluation_examClass_dd{
    width: 60%;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;   
}

.main__driversEvaluation_examClass button{
    width: 25%;
}

.main__driversEvaluation_dataList ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 600;
}

/* Create Appointments styling */
.main__admin{
    display: flex;
    flex-flow: column wrap;
    padding: var(--CONTAINER-PADDING-SMALLSCREEN);
}

.main__admin_taskHeading{
    font-size: var(--FORM-LABEL-SIZE-SMALLSCREEN);
    padding-bottom: var(--CONTAINER-PADDING-SMALLSCREEN);
}

.main__admin_appointment_section{
    /* width: 100%; */
}

.main__admin_appointment__form{
    display: flex;
    flex-flow: column nowrap;
    padding: 0 var(--CONTAINER-PADDING-SIDES);
    align-items: stretch;
    width: 100%;
}

.main__admin_appointment p{
    padding-bottom: var(--CONTAINER-PADDING-SMALLSCREEN);
}

.main__admin_appointment_calender{
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

.slots{
    padding-bottom: 1rem;
}
.slots__button{
    border-radius: 10px;
    padding: .5rem;
    font-size: 0.7rem;
    color: var(--BUTTON-BG-COLOR);
    background-color:  var(--FORM-TEXT-COLOR);
    font-weight: 300;
    margin: 2px;
}

/* FORMs */
.form{
    /* border-bottom: 2px solid black; */
    padding: 20px;
    
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.form__login{
    width: 60%;
}

.form__label{
    font-weight: 700;
}

.form__input{
    display: block;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 18px;
}

.form__button{
    border-radius: 10px;
    padding: .7rem;
    font-size: 1rem;
    color: var(--BUTTON-BG-COLOR);
    background-color:  var(--FORM-TEXT-COLOR);
    font-weight: 700;
}

.form__button:hover{
    color: var(--FORM-TEXT-COLOR);
    background-color: var(--BUTTON-BG-COLOR);
}

.form h3{
    color: var(--FORM-HEADING-COLOR);
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
    font-size: 1.5rem;
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.form__p{
    color: var(--FORM-TEXT-COLOR);
    text-shadow: 2px 2px 5px rgb(43, 74, 105);
}

.form__p a{
    color: var(--FORM-TEXT-COLOR);
    text-decoration: underline;
}

.form__p a:hover{
    color: rgb(255, 0, 21);
    text-decoration: none;
}



/* || FOOTER */
.footer__tags{
    display: flex;
    justify-content: space-between;

    background-color: var(--BG-DARK-COLOR);
    color: var(--TEXT-LIGHT-COLOR);
    padding: 3.5rem 3.5rem;

    /* border: 2px solid gold; */
}

.footer__tags__list a{
    color: var(--TEXT-LIGHT-COLOR);
}

.footer__tags__list h3{
    text-transform: uppercase;
    padding-bottom: var(--TEXT-GAP);
}

.footer__label{
    display: flex;
    justify-content: space-between;

    padding: 1.5rem 3.5rem;
}

.footer__label__copyright{
    /* background: red; */
    padding-top: 2rem;
}

.footer__label__img{
    width: 40%;
}

.footer__label__img img{
    width: 15%;
    height: auto;
}



/* || MEDIA QUERIES */
@media only screen and (max-width: 767px) {
    /* || FOOTER */
    .footer{
        display: none;
        /* border: 2px solid rgb(0, 234, 255); */
    }
}

@media only screen and (min-width: 768px) {
    /* || MAIN */
    .main__hero_info_container{
        padding: 3.5rem 12rem 3.5rem 3.5rem ;
    }

    .main__content_column h3{
        font-size: 36px;
    }

    .main__content_column h4{
        font-size: 24px;
    }

    /* Book Appointment styling */
    .main__noBgForm_column{
        display: flex;
        flex-flow: row wrap; 
        justify-content: space-between;
    }

    .main__noBgForm_column_child{
        width: 45%;
    }

  /* Create Appointments styling */
.main__admin{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.main__admin_taskHeading{
    font-size: var(--FORM-LABEL-SIZE);
    width: 40%;
}

.main__admin_appointment{
    width: 50%;
}

.main__admin_appointment__form{
    display: flex;
    flex-flow: column nowrap;
    padding: 0 var(--CONTAINER-PADDING-SIDES);
    align-items: stretch;
    width: 100%;
}

.main__admin_appointment p{
    padding-bottom: var(--CONTAINER-PADDING-TB);
}

.main__admin_appointment_calender{
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

.slots{
    padding-bottom: 1rem;
}
.slots__button{
    border-radius: 10px;
    padding: .5rem;
    font-size: 0.7rem;
    color: var(--BUTTON-BG-COLOR);
    background-color:  var(--FORM-TEXT-COLOR);
    font-weight: 300;
    margin: 2px;
}


    /* || FOOTER */
    .footer__tags__list p{
        text-decoration: underline;
        padding-bottom: 0.2rem;
    }
}