<footer class="footer">
    <article class="footer__tags">
      <section class="footer__tags__list">
        <h3>Drivetest</h3>
        <a href="#"><p>About drivetest</p></a>
        <a href="#"><p>Services</p></a>
        <a href="#"><p>About Us</p></a>
        <a href="#"><p>News</p></a>
        <a href="#"><p>Contact Us</p></a>
      </section>
      <section class="footer__tags__list">
        <h3>Drivers' Licences</h3>
        <a href="#"><p>Licences Overview</p></a>
        <a href="#"><p>Driver's Licences - Cars</p></a>
        <a href="#"><p>Driver's Licences - Motocycles</p></a>
        <a href="#"><p>Driver's Licences - Commercial</p></a>
        <a href="#"><p>Expired Licences & Renewals</p></a>
      </section>
      <section class="footer__tags__list">
        <h3>Drivers' Tests</h3>
        <a href="#"><p>Test Overview</p></a>
        <a href="#"><p>Knowledge Tests</p></a>
        <a href="#"><p>Road Tests - Cars</p></a>
        <a href="#"><p>Road Tests - Motocycles</p></a>
        <a href="#"><p>Road Tests - Commercial</p></a>
      </section>
      <section class="footer__tags__list">
        <h3>Find a center</h3>
        <a href="#"><p>Find a drivetest center</p></a>
        <a href="#"><p>Drivetest center list</p></a>
        <a href="#"><p>Service disruption</p></a>
        <a href="#"><p>Center Accessibility</p></a>
      </section>
    </article>

    <article class="footer__label">
      <figure class="footer__label__img">
        <img src="/assets/img/mapleLeaf.png" alt="maple_leaf" width="5000" height="5000">
        <p>Canada Drive</p>
      </figure>

      <span class="footer__label__copyright">
        <h4>No &copy; copyright issues.</h4>
        <p>Feel free to copy. If you need any help, ping me !</p>
      </span>
    </article>
  </footer>