<header class="header">
    <section class="header__logo">
      <a href="/">
        <img src="./img/drivetest-main-logo.png" alt="Logo" width="791" height="182">    <!-- Logo -->
      </a>
      <button class="menu-button">
          <div class="menu-icon"></div>
      </button>
    </section>
    
    <nav class="header__nav">
      <ul class="header__ul">
          <li><a href="./services.html">Services</a></li>
          <li><a href="./createAppointment.html">Create Appointment</a></li>  <!-- Admin Panel -->
          <li><a href="./adminHome.html">Admin-Home</a></li>      <!-- Admin Panel -->
          <li><a href="./adminDriversList.html">Admin-Drivers List</a></li>      <!-- Admin Panel -->
          <li><a href="./bookAppointment.html">Book Appointment</a></li>    <!-- Driver Panel -->
          <li><a href="./driverDetails.html">Driver Details</a></li>      <!-- Driver Panel -->
          <li><a href="./examinerHome.html">Examiner-Home</a></li>            <!-- Examiner Panel -->
          <li><a href="./examinerEvaluationPage.html">Examiner</a></li>            <!-- Examiner Panel -->
          <li><a href="/auth/login">Login</a></li>
          <li><a href="./logout.html">Logout</a></li>
      </ul>
    </nav>
  </header>