<header class="header">
    <section class="header__logo">
      <a href="/">
        <img src="/assets/img/drivetest-main-logo.png" alt="Logo" width="791" height="182">    <!-- Logo -->
      </a>
      <button class="menu-button">
          <div class="menu-icon"></div>
      </button>
    </section>
    
    <nav class="header__nav">
      <ul class="header__ul">
          <li><a href="/licences/services">Services</a></li>
          <li><a href="/admin/createAppointment">Create Appointment</a></li>  <!-- Admin Panel -->
          <li><a href="/admin/home">Admin-Home</a></li>                       <!-- Admin Panel -->
          <li><a href="./adminDriversList.html">Admin-Drivers List</a></li>   <!-- Admin Panel -->
          <li><a href="/user/bookAppointment">Book Appointment</a></li>       <!-- Driver Panel -->
          <li><a href="/user/driverDetails">Driver Details</a></li>           <!-- Driver Panel -->
          <li><a href="/examiner/home">Examiner-Home</a></li>                 <!-- Examiner Panel -->
          <li><a href="/examiner/evaluation">Examiner</a></li>                <!-- Examiner Panel -->
          <li><a href="/auth/login">Login</a></li>
          <li><a href="/auth/logout">Logout</a></li>
      </ul>
    </nav>
  </header>