<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Head Tag -->
    <%- include("layouts/header") %>
    <title>Update Driver Details</title>
  </head>
  <body>
    <!-- Header -->
    <%- include("layouts/navbar") %>
        
    <!-- Main -->
    <main class="main">
        <article class="main__newsBanner">
          <h3>DriveTest is open for business</h3>
        </article>
        <article class="main__noBgForm">
          <section class="form">
            <h3>Update Driver Details</h3>
            <form action="https://httpbin.org/post" class="form__login">
              <div class="main__noBgForm_column">
                <p class="form__p main__noBgForm_column_child">
                  <label class="form__label" for="fName">First Name</label>
                  <input class="form__input" type="text" name="fName" placeholder="Not editable" disabled>
                </p>
                <p class="form__p main__noBgForm_column_child">
                  <label class="form__label" for="lName">Last Name</label>
                  <input class="form__input" type="text" name="lName" placeholder="Not editable" disabled>
                </p>
              </div>
              <div class="main__noBgForm_column">
                <p class="form__p main__noBgForm_column_child">
                  <label class="form__label" for="licenceNum">Licence Number</label>
                  <input class="form__input" type="text" name="licenceNum" placeholder="Not editable" disabled>
                </p>
                <p class="form__p main__noBgForm_column_child">
                  <label class="form__label" for="age">Age</label>
                  <input class="form__input" type="date" name="age" placeholder="Not editable" disabled>
                </p>
              </div>
              <div class="main__noBgForm_column">
                <p class="form__p main__noBgForm_column_child">
                  <label class="form__label" for="vehicleMaker">Vehicle Maker</label>
                  <input class="form__input" type="text" name="vehicleMaker" placeholder="Vehicle Maker">
                </p>
                <p class="form__p main__noBgForm_column_child">
                  <label class="form__label" for="vehicleModel">Vehicle Model</label>
                  <input class="form__input" type="text" name="vehicleModel" placeholder="Vehicle Model">
                </p>
              </div>
              <div class="main__noBgForm_column">
                <p class="form__p main__noBgForm_column_child">
                  <label class="form__label" for="makeYear">Make Year</label>
                  <input class="form__input" type="date" name="makeYear" placeholder="Make Year">
                </p>
                <p class="form__p main__noBgForm_column_child">
                  <label class="form__label" for="vehiclePlateNum">Vehicle Plate Number</label>
                  <input class="form__input" type="text" name="vehiclePlateNum" placeholder="Vehicle Plate Number">
                </p>
              </div>
              <p class="form__p">
                <label class="form__label" for="appointmentDate">Appointment Date</label>
                <input class="form__input" type="date" name="appointmentDate" placeholder="Appointment Date" disabled>
              </p>
              <button class="form__button" type="submit">Update Details</button>
            </form>
          </section>
        </article>
    </main>

    <!-- Footer -->
    <%- include("layouts/footer") %>
  </body>
</html>
