<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Head Tag -->
    <%- include("layouts/header") %>
    <title>Examiner Home - DriveTest</title>
  </head>
  <body>
    <!-- Header -->
    <%- include("layouts/navbar") %>
    
    <!-- Main -->
    <main class="main">
        <article class="main__newsBanner">
          <h3>Examiner Dashboard</h3>
        </article>
        <article class="examiner__hero">
          <section class="main__hero_info_container">
            <section class="main__hero_info darkShadeOnHero">
              <h3>DriveTest <span class="highlightTextOnDarkBG">Examiner</span> Dashboard</h3>
              <p>Welcome to the DriveTest Examiner Dashboard, your comprehensive tool for managing driving tests efficiently and effectively. DriveTest is licensed by the Government of Ontario. Our intuitive interface is designed to streamline your workflow and enhance your ability to assess candidates' driving skills accurately. Here's an overview of the features you'll find on our dashboard:</p>
              <p><strong>Scheduled Tests:</strong> View a detailed schedule of upcoming driving tests, including date, time, candidate information, and test type. Stay organized and prepared for each appointment with this convenient overview.</p>
              <p> <strong>Candidate Profiles:</strong> Access detailed profiles of each candidate, including personal information, previous test history, and any special accommodations or notes. Get a comprehensive understanding of each individual's background before conducting the test.</p>
              <p> <strong>Test Results:</strong> Record and track test results effortlessly. Input scores for various driving maneuvers and behaviors, including parallel parking, lane changes, and adherence to traffic rules. Our dashboard automatically calculates overall performance and provides detailed feedback for candidates.</p>
              <p> <strong>Evaluation Criteria:</strong> Refer to our standardized evaluation criteria to ensure consistency and fairness in assessing driving skills. From vehicle control to hazard awareness, our predefined criteria cover all essential aspects of safe and proficient driving.</p>
              <a href="/examiner/evaluation"><button class="form__button">Evaluate Now</button></a>
            </section>
            <p class="source_reference">Image by <a href="https://pixabay.com/users/harinathr-1906917/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1516644">Harinath R</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1516644">Pixabay</a></p>
          </section>
        </article>
    </main>

    <!-- Footer -->
    <%- include("layouts/footer") %>
  </body>
</html>
