<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Mohit Kataria" />
    <title>DriveTest Home</title>
    <link rel="icon" href="/views/img/mankeyLOGO.png" />
  </head>
  <body>
    <!-- Header -->
    <header class="header">
      <section class="header__logo">
        <a href="/">
          <h1 class="header__logo__h1">DriveTest</h1>    <!-- HomePage -->
        </a>
        <button class="menu__button">
            <div class="menu__icon"></div>
        </button>
      </section>
      
      <nav class="header__nav">
        <ul class="header__ul">
            <li><a href="#">Services</a></li>
            <li><a href="#">Create Appointment</a></li>  <!-- Admin Panel -->
            <li><a href="#">Driver Results</a></li>      <!-- Admin Panel -->
            <li><a href="#">Book Appointment</a></li>    <!-- Driver Panel -->
            <li><a href="#">Driver Details</a></li>      <!-- Driver Panel -->
            <li><a href="#">Examiner</a></li>            <!-- Examiner Panel -->
            <li><a href="#">Login</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
      </nav>

      <section class="header__pglabel">
        <h3>DriverTest is open</h3>
      </section>
    </header>

    <!-- Main -->
    <main class="main">
        <article class="main__hero">
            <section class="hero">
              <img src="./img/tacos_close_up_1000x649.png" alt="" width="1000" height="649">
            </section>
        </article>
        <article class="main__vehicles">
          <section class="main__vehicles__types">
            <h4>Cars</h4>
            <p>Driver examination and licensing requirements for cars, vans, and small trucks...</p>
          </section>
          <section class="main__vehicles__types">
            <h4>Motocycles</h4>
            <p>Driver examination and licensing requirements for motocycles, scooters, and mopeds...</p>
          </section>
          <section class="main__vehicles__types">
            <h4>Commercial</h4>
            <p>Driver examination and licensing requirements for classes A, B, C, D, E, F, or Z(trucks & buses)...</p>
          </section>
        </article>
    </main>

    <!-- Footer -->
    <footer class="footer">
      <article class="footer__tags">
        <section class="footer__tags__list">
          <h3>Drivetest</h3>
          <a href="#"><p>About drivetest</p></a>
          <a href="#"><p>Services</p></a>
          <a href="#"><p>About Us</p></a>
          <a href="#"><p>News</p></a>
          <a href="#"><p>Contact Us</p></a>
        </section>
        <section class="footer__tags__list">
          <h3>Drivers' Licences</h3>
          <a href="#"><p>Licences Overview</p></a>
          <a href="#"><p>Driver's Licences - Cars</p></a>
          <a href="#"><p>Driver's Licences - Motocycles</p></a>
          <a href="#"><p>Driver's Licences - Commercial</p></a>
          <a href="#"><p>Expired Licences & Renewals</p></a>
        </section>
        <section class="footer__tags__list">
          <h3>Drivers' Tests</h3>
          <a href="#"><p>Test Overview</p></a>
          <a href="#"><p>Knowledge Tests</p></a>
          <a href="#"><p>Road Tests - Cars</p></a>
          <a href="#"><p>Road Tests - Motocycles</p></a>
          <a href="#"><p>Road Tests - Commercial</p></a>
        </section>
        <section class="footer__tags__list">
          <h3>Find a center</h3>
          <a href="#"><p>Find a drivetest center</p></a>
          <a href="#"><p>Drivetest center list</p></a>
          <a href="#"><p>Service disruption</p></a>
          <a href="#"><p>Center Accessibility</p></a>
        </section>
      </article>

      <article class="footer__label">
        <figure class="footer__label__img">
          <img src="" alt="" width="" height="">
        </figure>

        <span class="footer__label__copyright">
          <h4>No &copy; copyright issues.</h4>
          <p>Feel free to copy. If you need any help, ping me !</p>
        </span>
      </article>
    </footer>
  </body>
</html>
