<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Mohit Kataria" />
    <title>DriveTest Home</title>
    <link rel="icon" href="/views/img/iconJeep.png" />
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <!-- Header -->
    <header class="header">
      <section class="header__logo">
        <a href="./index.html">
          <img src="./img/drivetest-main-logo.png" alt="Logo" width="791" height="182">    <!-- Logo -->
        </a>
        <button class="menu-button">
            <div class="menu-icon"></div>
        </button>
      </section>
      
      <nav class="header__nav">
        <ul class="header__ul">
            <!-- <li><a href="./services.html">Services</a></li> -->
            <li><a href="./createAppointment.html">Create Appointment</a></li>  <!-- Admin Panel -->
            <li><a href="./driverResult.html">Driver Results</a></li>      <!-- Admin Panel -->
            <li><a href="./bookAppointment.html">Book Appointment</a></li>    <!-- Driver Panel -->
            <li><a href="./driverDetails.html">Driver Details</a></li>      <!-- Driver Panel -->
            <li><a href="./examiner.html">Examiner</a></li>            <!-- Examiner Panel -->
            <!-- <li><a href="./login.html">Login</a></li>
            <li><a href="./logout.html">Logout</a></li> -->
        </ul>
      </nav>
    </header>
    
    <!-- Main -->
    <main class="main">
        <article class="main__newsBanner">
          <h3>DriveTest is open for business</h3>
        </article>
        <article class="main__hero">
          <section class="main__hero_info_container">
            <section class="main__hero_info darkShadeOnHero">
              <h3>DriveTest: Licensed by the Government of Ontario</h3>
              <p>DriveTest Centres offer driver licensing and examination services, such as knowledge tests and road tests, on behalf of the Ministry of Transportation (MTO).</p>
              <p>Join the line for inside services at the Brampton and Metro East DriveTest Centres from anywhere using our new remote check in system.</p>
              <p>Please visit our News page for more information and a list of inside services. Please note that road test applicants cannot check in for their road test using the remote check in system.</p>
              <p>To manage website traffic and provide a fair, first-in-first-out road test appointment booking experience, we use virtual queue technology.</p>
              <button class="form__button">Book a road test</button>
            </section>
          </section>
        </article>
        <article class="main__vehicles">
          <section class="main__vehicles__types">
            <img src="./img/carPic.png" alt="car_pic" width="640" height="320">
            <h4>Cars</h4>
            <p>Driver examination and licensing requirements for cars, vans, and small trucks...</p>
          </section>
          <section class="main__vehicles__types">
            <img src="./img/motorcycle-4090327_640.png" alt="bike_pic" width="640" height="369">
            <h4>Motocycles</h4>
            <p>Driver examination and licensing requirements for motocycles, scooters, and mopeds...</p>
          </section>
          <section class="main__vehicles__types">
            <img src="./img/truck.png" alt="truck_pic" width="640" height="320">
            <h4>Commercial</h4>
            <p>Driver examination and licensing requirements for classes A, B, C, D, E, F, or Z(trucks & buses)...</p>
          </section>
        </article>
    </main>

    <!-- Footer -->
    <footer class="footer">
      <article class="footer__tags">
        <section class="footer__tags__list">
          <h3>Drivetest</h3>
          <a href="#"><p>About drivetest</p></a>
          <a href="#"><p>Services</p></a>
          <a href="#"><p>About Us</p></a>
          <a href="#"><p>News</p></a>
          <a href="#"><p>Contact Us</p></a>
        </section>
        <section class="footer__tags__list">
          <h3>Drivers' Licences</h3>
          <a href="#"><p>Licences Overview</p></a>
          <a href="#"><p>Driver's Licences - Cars</p></a>
          <a href="#"><p>Driver's Licences - Motocycles</p></a>
          <a href="#"><p>Driver's Licences - Commercial</p></a>
          <a href="#"><p>Expired Licences & Renewals</p></a>
        </section>
        <section class="footer__tags__list">
          <h3>Drivers' Tests</h3>
          <a href="#"><p>Test Overview</p></a>
          <a href="#"><p>Knowledge Tests</p></a>
          <a href="#"><p>Road Tests - Cars</p></a>
          <a href="#"><p>Road Tests - Motocycles</p></a>
          <a href="#"><p>Road Tests - Commercial</p></a>
        </section>
        <section class="footer__tags__list">
          <h3>Find a center</h3>
          <a href="#"><p>Find a drivetest center</p></a>
          <a href="#"><p>Drivetest center list</p></a>
          <a href="#"><p>Service disruption</p></a>
          <a href="#"><p>Center Accessibility</p></a>
        </section>
      </article>

      <article class="footer__label">
        <figure class="footer__label__img">
          <img src="./img/mapleLeaf.png" alt="maple_leaf" width="5000" height="5000">
        </figure>

        <span class="footer__label__copyright">
          <h4>No &copy; copyright issues.</h4>
          <p>Feel free to copy. If you need any help, ping me !</p>
        </span>
      </article>
    </footer>
  </body>
</html>
