<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Head Tag -->
    <%- include("layouts/header") %>
    <title>Login - DriveTest</title>
  </head>
  <body>
    <!-- Header -->
    <%- include("layouts/navbar") %>
    
    <!-- Main -->
    <main class="main">
        <article class="main__newsBanner">
          <h3>DriveTest is open for business</h3>
        </article>
        <article class="main__hero">
          <section class="form darkShadeOnHero">
            <h3 class="form_drk_bg_h3">Login</h3>
            <% if(errors.length > 0){ %>
              <ul class="errorMsg">
                <% for(let i = 0; i < errors.length; i++) { %>
                  <li><%= errors[i] %></li>
                <% } %>
              </ul>
            <% } %>
            <form action="/user/login" class="form__login" method="post">
              <p class="form__p_drk_bg">
                <label class="form__label" for="userName">User Name</label>
                <input class="form__input" type="userName" name="userName" placeholder="User Name">
              </p>
              <p class="form__p_drk_bg">
                <label class="form__label" for="password">Password</label>
                <input class="form__input" type="password" name="password" placeholder="password">
              </p>
              <button class="form__button" type="submit">Login</button>
              <button class="form__button" type="reset">Clear</button>
            </form>
            <br>
            <p class="form__p_drk_bg">
                <a href="/auth/register">Don't have an account? Create One!</a>
            </p>
          </section>
        </article>
    </main>

    <!-- Footer -->
    <%- include("layouts/footer") %>
  </body>
</html>
