<!DOCTYPE html>
<html lang="en">
  <head> 
    <!-- Head Tag -->
    <%- include("layouts/header") %>
    <title>DriveTest Home</title>
  </head>
  <body>
    <!-- Header -->
    <%- include("layouts/navbar") %>
    
    <!-- Main -->
    <main class="main">
        <article class="main__newsBanner">
          <h3>DriveTest is open for business</h3>
        </article>
        <article class="main__hero">
          <section class="main__hero_info_container">
            <section class="main__hero_info darkShadeOnHero">
              <h3 class="centerText">404 Page Not Found</h3>
            </section>
          </section>
        </article>
    </main>

    <!-- Footer -->
    <%- include("layouts/footer") %>
  </body>
</html>
