<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Mohit Kataria" />
    <title>Services</title>
    <link rel="icon" href="/views/img/iconJeep.png" />
    <link rel="stylesheet" href="../css/style.css">

  </head>
  <body>
    <!-- Header -->
    <header class="header">
      <section class="header__logo">
        <a href="./index.html">
          <img src="./img/drivetest-main-logo.png" alt="Logo" width="791" height="182">    <!-- Logo -->
        </a>
        <button class="menu-button">
            <div class="menu-icon"></div>
        </button>
      </section>
      
      <nav class="header__nav">
        <ul class="header__ul">
            <li><a href="./services.html">Services</a></li>
            <li><a href="./createAppointment.html">Create Appointment</a></li>  <!-- Admin Panel -->
            <li><a href="./adminHome.html">Admin-Home</a></li>      <!-- Admin Panel -->
            <li><a href="./adminDriversList.html">Admin-Drivers List</a></li>      <!-- Admin Panel -->
            <li><a href="./bookAppointment.html">Book Appointment</a></li>    <!-- Driver Panel -->
            <li><a href="./driverDetails.html">Driver Details</a></li>      <!-- Driver Panel -->
            <li><a href="./examinerHome.html">Examiner-Home</a></li>            <!-- Examiner Panel -->
            <li><a href="./examinerEvaluationPage.html">Examiner</a></li>            <!-- Examiner Panel -->
            <li><a href="./login.html">Login</a></li>
            <li><a href="./logout.html">Logout</a></li>
        </ul>
      </nav>
    </header>

    <!-- Main -->
    <main class="main">
      <article class="main__newsBanner">
        <h3>DriveTest is open for business</h3>
      </article>
      <article class="main__hero_services">
        <section class="main__hero_info_container">
          <section class="main__hero_info darkShadeOnHero">
            <h3>Drivers' Licences - Motocycles, Cars, & Commercial</h3>
            <p>An Ontario's driver's licence is your proof of your privilege to drive. You must carry it with you whenever you get behind the wheel.</p>
            <p>Anyone interested in driving a motorcycle, scooter, moped, or motor tricycle must apply for a Class M licence and participate in the graduated licensing program.</p>
            <p>There are millions of licensed drivers in Ontario. Most of these drivers started by visiting a DriveTest Centre and applying for a Class G licence. A Class G licence enables you to drive a car, van, or small truck.</p>
            <p>Driving a commercial vehicle, such as a tractor-trailer, truck, bus, or ambulance, requires skill and a specialized/classified licence.</p>
            <button class="form__button">Book a road test</button>
          </section>
          <p class="source_reference">Image by <a href="https://www.freepik.com/free-photo/">Freepik</a></p>
        </section>
      </article>
      <article class="main__content">
        <section class="main__content_column">
          <h3>About Ontario Drivers' Licences</h3>
          <h4>In Ontario, there are 12 different licence classes. Each one qualifies you to drive a different type of vehicle.</h4>
          <p>There are passenger vehicle licence types and commercial (classified) vehicle licence types. You may hold a licence in more than one class, and licence types may be combined (e.g., an ABM licence).</p>
          <p>The class of licence you have must match the type of vehicle you are driving. To earn a driver's licence, you must meet a set of minimum requirements and complete the required tests.</p>
          <p>Tests for cars, vans, and small trucks must be completed at a DriveTest Centre. Tests for motorcycles and commercial vehicles may be completed at a DriveTest Centre or at certain professional or academic organizations authorized by the Ministry of Transportation.</p>
        </section>


        <section class="main__content_column">
          <h3>Driver's Licence Photo Cards</h3>
          <div class="main__content_column_inner">
            <div class="main__content_column_inner_img_div">
              <img src="./img/PhotoId_img_1001x1500.jpg" alt="" class="main__content_column_inner_img" width="1001" height="1500">
              <p class="source_reference">Image by <a href="https://www.freepik.com/free-photo/top-view-green-card-application_30589009.htm#query=government%20id&position=8&from_view=search&track=ais&uuid=3ad7745e-8e0e-477d-ab21-2d1c9d6a48c9">Freepik</a></p>
            </div>
              
            <div class="main__content_column_inner_p">
              <p>Official Ontario driver's licence photo cards are one piece, made of plastic, and include your digitized photograph and signature. An Ontario driver's licence includes your name, address, date of birth, gender (M, F or X), height, licence class, date of licence issue, expiry date, and codes showing which classes of vehicles you may drive and any applicable conditions.</p>
              <p>Temporary driver's licences are short-term documents used by licensed drivers prior to receiving an official Ontario driver's licence card in the mail. Temporary driver's licences are valid for up to 90 days.</p>
              <p>As a licence holder, you must keep your licence information up-to-date and renew your driver's licence card periodically. If your driver's licence expires, depending on the length of time it has been expired, you may need to reapply.</p>
              <p><strong>A driver's licence and an Ontario Photo Card or a driver's licence/photo ID card from another province, state or country cannot be held at the same time.</strong> If you have an Ontario Photo Card or a photo ID card from any other province, state or country, you must turn in your existing ID and any driver's licences when applying for an Ontario driver's licence.</p>
              <p>Please inform DriveTest if you have ever held an Ontario Photo Card, even if it is expired or cancelled, when you apply for a driver's licence. Not doing so may delay getting your driver's licence.</p>
              <p>If you have an Ontario Photo Card and want to get a driver's licence, you must give up your Ontario Photo Card. Your Ontario Photo Card will be cancelled upon successful completion of the required testing. If you wish to re-apply for your Ontario Photo Card, you must give up your driver's licence.</p>
            </div>
          </div>
        </section>

      </article>
  </main>

    <!-- Footer -->
    <footer class="footer">
      <article class="footer__tags">
        <section class="footer__tags__list">
          <h3>Drivetest</h3>
          <a href="#"><p>About drivetest</p></a>
          <a href="#"><p>Services</p></a>
          <a href="#"><p>About Us</p></a>
          <a href="#"><p>News</p></a>
          <a href="#"><p>Contact Us</p></a>
        </section>
        <section class="footer__tags__list">
          <h3>Drivers' Licences</h3>
          <a href="#"><p>Licences Overview</p></a>
          <a href="#"><p>Driver's Licences - Cars</p></a>
          <a href="#"><p>Driver's Licences - Motocycles</p></a>
          <a href="#"><p>Driver's Licences - Commercial</p></a>
          <a href="#"><p>Expired Licences & Renewals</p></a>
        </section>
        <section class="footer__tags__list">
          <h3>Drivers' Tests</h3>
          <a href="#"><p>Test Overview</p></a>
          <a href="#"><p>Knowledge Tests</p></a>
          <a href="#"><p>Road Tests - Cars</p></a>
          <a href="#"><p>Road Tests - Motocycles</p></a>
          <a href="#"><p>Road Tests - Commercial</p></a>
        </section>
        <section class="footer__tags__list">
          <h3>Find a center</h3>
          <a href="#"><p>Find a drivetest center</p></a>
          <a href="#"><p>Drivetest center list</p></a>
          <a href="#"><p>Service disruption</p></a>
          <a href="#"><p>Center Accessibility</p></a>
        </section>
      </article>

      <article class="footer__label">
        <figure class="footer__label__img">
          <img src="./img/mapleLeaf.png" alt="maple_leaf" width="5000" height="5000">
          <p>Canada Drive</p>
        </figure>

        <span class="footer__label__copyright">
          <h4>No &copy; copyright issues.</h4>
          <p>Feel free to copy. If you need any help, ping me !</p>
        </span>
      </article>
    </footer>
  </body>
</html>
